langchain-qdrant
langchain-community
# sentence_transformers
# accelerate
matplotlib
langchain-google-genai
# dotenv
pillow 
pydantic
unstructured[pdf]
lxml
tiktoken
langchain-experimental
timm
fastapi[standard]
streamlit
watchdog